@use 'sass:math';
@use "../../../node_modules/rivet-core/sass/core/variables.scss" as *;

// Card customization
.#{$prefix}-c-card {
  &__meta {
    color: $color-black-400;
    display: flex;

    time {
      display: flex;
    }

    time::before {
      content: "•";
      display: flex;
    }
  }

  .#{$prefix}-button--crimson {
    background-color: $color-crimson-base;
    border-color: $color-crimson-base;
    color: $color-white-base;
  }
}
