@use 'sass:math';
@use "../../../node_modules/rivet-core/sass/core/variables.scss" as *;

// Sticker card
.#{$prefix}-c-card--sticker {
  margin-top: $spacing-xl;
  padding: $spacing-md;

  &-arts {
    background-color: $color-purple-000;
  }

  &-business {
    background-color: $color-orange-000;
  }

  &-campus {
    background-color: $color-crimson-000;
  }

  &-health {
    background-color: $color-green-000;
  }

  &-global {
    background-color: $color-blue-000;
  }

  &-law {
    background-color: $color-black-000;
  }

  &-science {
    background-color: $color-gold-000;
  }

  &-admin {
    background-color: $color-crimson-000;
  }

  .#{$prefix}-card__eyebrow {
    color: $color-black-500;
  }

  .#{$prefix}-card__title {
    line-height: $ts-29;
  }
}
