---
layout: "layouts/base.njk"
title: "Tip sheet | Elon Musk twitter purchase"
description: "IU experts available to comment on Elon Musk's purchase of Twitter"
---
{%- from "components/breadcrumbs.njk" import Breadcrumbs -%}
{%- from "components/card--contact.njk" import Contact -%}
{%- from "components/heading.njk" import Heading -%}
{%- from "components/linkHub.njk" import LinkHub -%}
{%- from "components/pagination.njk" import Pagination -%}

<main id="main-content" class="rvt-m-bottom-xxl">
  <div class="rvt-flow">
    <div class="rvt-container-sm">
      <div class="rvt-row rvt-p-top-3-xl">
        {{ Breadcrumbs({ navigation: [{
              title: "Media",
              url: "media/"
            },
            {
              current: true,
              title: "Tip sheets",
              url: "media/tip-sheets/"
            },
            {
              current: true,
              title: "Elon Musk's Twitter purchase",
              url: "media/tip-sheets/elon-musk-twitter/"
            }]
          })
        }}
        {{ Heading({ 
            padding: "none",
            title: "IU experts available to comment on Elon Musk's purchase of Twitter",
            headingLevel: "h1"
          })
        }}
      </div>
    </div>
    <div class="rvt-c-share rvt-border-top rvt-border-bottom">
      <div class="rvt-container-sm">
        <div class="rvt-row rvt-color-black-400 rvt-ts-14 rvt-p-tb-sm rvt-flex">
          <span class="rvt-text-medium rvt-text-uppercase rvt-p-right-xs rvt-border-right">For immediate release</span><span class="rvt-p-left-xs">April 26, 2021</span>
        </div>
      </div>
    </div>
    <div class="rvt-container-sm rvt-p-top-lg">
      <div class="rvt-row">
        <figure style="margin-left: auto; margin-right: auto;">
          <img alt="IU Bloomington Natatorium" src="{{ '/img/fill/musk.png' | url }}" class="rvt-border-radius" />
          <figcaption class="rvt-color-black-400 rvt-p-left-none">Optional photo caption. Photo by Lorem Ipsum.</figcaption>
        </figure>
        <div class="rvt-m-top-xl rvt-p-bottom-md rvt-color-black-400 rvt-ts-18 rvt-border-bottom">
          <p>BLOOMINGTON, Ind. -- Tesla CEO and entrepreneur Elon Musk successfully purchased Twitter on Monday for $44 billion. Musk has been hypercritical of the company's moderation practices and has continually expressed his belief that the platform should be used for unfettered free speech. IU experts are available to comment on the economics of Musk's purchase as well as what it could mean for free speech online.</p>
          <div class="rvt-c-quote">
            <p>For more information, contact Marah Yankey at <a href="mailto:mqharbis@iu.edu" alt="Email Marah Yankey">mqharbis@iu.edu</a> or <a href="tel:8128561442" alt="Call Marah Yankey">812-856-1442</a>.</p>
          </div>
        </div>
      </div>
      <div class="rvt-row rvt-p-top-sm">
        <div class="rvt-cols-12">
          {{ Contact({
            img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
            headingLevel: "h2",
            eyebrow: "Bloomington",
            title: "M.K. Chin",
            position: "Kelley School of Business",
            url: "#0",
            meta: [{
              phone: "8128567916",
              email: "chinmk@indiana.edu"
            }],
            text: "M.K. Chin (진문균) is assistant professor of management at the IU Kelley School of Business. His research interests are focused within the field of strategic management, particularly on issues concerning psychological and sociopolitical factors in top management teams and their influences on organizational outcomes.",
            bullets: [
              "Behavioral strategy",
              "Strategic leadership",
              "Corporate governance",
              "Stakeholder theory",
              "Values and political ideologies of top executives"
            ]
            })
          }}
        </div>
        <div class="rvt-cols-12">
          {{ Contact({
            img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
            headingLevel: "h2",
            eyebrow: "Bloomington",
            title: "Anthony Fargo",
            position: "The Media School",
            url: "#0",
            meta: [{
              phone: "8128555420",
              email: "alfargo@indiana.edu"
            }],
            text: "Anthony Fargo is an associate professor in The Media School at Indiana University Bloomington and is the director of the Center for International Media Law and Policy Studies. He has written extensively on the right of journalists to protect sources and news-gathering information and on the right to speak or publish anonymously.",
            bullets: [
              "Freedom of the press",
              "Freedom of speech",
              "Confidential news sources",
              "Anonymous speech",
              "Defamation laws",
              "Media law",
              "International media law",
              "Privacy law",
              "Access to information",
              "Freedom of information"
            ]
            })
          }}
        </div>
        <div class="rvt-cols-12">
          {{ Contact({
            img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
            headingLevel: "h2",
            eyebrow: "Bloomington",
            title: "Matthew Josefy",
            position: "The Media School",
            url: "#0",
            meta: [{
              phone: "8128553683",
              email: "mjosefy@iu.edu"
            }],
            text: "Resource acquisition, strategic leadership (board/TMTs), organizational survival, firm size, strategic entrepreneurship, natural language processing, anti-human trafficking.",
            bullets: [
              "Resource acquisition",
              "Strategic leadership (board/TMTs)",
              "Organizational survival",
              "Firm size",
              "Strategic entrepreneurship",
              "Natural language processing",
              "Anti-human trafficking"
            ]
            })
          }}
        </div>
        <div class="rvt-cols-12">
          {{ Contact({
            img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
            headingLevel: "h2",
            eyebrow: "Bloomington",
            title: "Filippo Menczer",
            position: "The Media School",
            url: "#0",
            meta: [{
              phone: "8128561377",
              email: "fil@indiana.edu"
            }],
            text: "Web and data science, computational social science, social computation, modeling of complex information networks, online spread of misinformation.",
            bullets: [
              "Web and data science",
              "Computational social science",
              "Social computation",
              "Modeling of complex information networks",
              "Online spread of misinformation"
            ]
            })
          }}
        </div>
      </div>
      <div class="rvt-row rvt-m-top-xl rvt-border-top rvt-border-bottom rvt-justify-center">
        {{ Pagination({}) }}
      </div>
      <div class="rvt-row rvt-p-top-lg">
        <div class="rvt-cols-12">
          {{ Heading({ 
            title: "For the media"
          }) }}
          <p class="rvt-c-intro">Lorem ipsum dolor sit amet.</p>
          {{ LinkHub({ 
            stacked: true,
            links: [{
              url: "#0",
              title: "Media resources",
              description: "Arrange an interview, request a photo, or find your way around campus."
            },
            {
              url: "#0",
              title: "Faculty experts",
              description: "Find a faculty expert on any IU campus."
            },
            {
              url: "#0",
              title: "Media specialists",
              description: "Search our staff directory by topic area."
            }]
          }) }}
        </div>
      </div>
    </div>
  </div>
</main>