---
layout: "layouts/base.njk"
title: "Branded article"
description: "This is a sample brand article."
---
{%- from "components/breadcrumbs.njk" import Breadcrumbs -%}
{%- from "components/card.njk" import Card -%}
{%- from "components/card--contact.njk" import Contact -%}
{%- from "components/heading.njk" import Heading -%}
{%- from "components/pagination.njk" import Pagination -%}

<main id="main-content" class="rvt-c-article rvt-c-article--brand">
  <div class="rvt-container-sm">
    <div class="rvt-row">
      {{ Breadcrumbs({ navigation: [{
            title: "Articles",
            url: "#0"
          },
          {
            current: true,
            title: "Branded article",
            url: "#0"
          }]
        })
      }}
      {{ Heading({ 
          title: "Latest IU news",
          headingLevel: "h1"
        })
      }}
        <p class="rvt-c-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor pharetra neque gravida in auctor. Sit dolor cras et hendrerit leo nec pellentesque quam.</p>
    </div>
  </div>
  <div class="rvt-c-folio">
    <div class="rvt-container-sm">
      <div class="rvt-c-folio__body">
        <span class="rvt-c-folio__release">For immediate release</span><span class="rvt-c-folio__detail">December 7, 2021</span>
      </div>
    </div>
  </div>
  <div class="rvt-container-sm">
    <div class="rvt-c-article__body">
      <figure class="rvt-c-figure rvt-c-figure--centered">
        <img alt="IU Bloomington Natatorium" src="{{ '/img/fill/natatorium.png' | url }}" />
        <figcaption>Optional photo caption. Photo by Lorem Ipsum.</figcaption>
      </figure>
      <div class="rvt-border-bottom">
        {{ Heading({ 
          padding: "sm",
          title: "H2 example lorem ipsum"
          })
        }}
        <figure class="rvt-c-figure rvt-c-figure--float__right">
          <img alt="A close-up of a swimmer from IUPUI." src="{{ '/img/fill/iupui-swimmer.png' | url }}" />
          <figcaption>Optional photo caption. Photo by Lorem Ipsum.</figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dolor, scelerisque massa. Sit dolor cras et hendrerit leo nec pellentesque quam. Tempus mollis lectus sed posuere sit volutpat sagittis ultrices. Sodales ridiculus ut commodo amet morbi tortor. Dolor urna non convallis massa in egestas nec. Neque, aliquam facilisis urna, in tristique.</p>
        <p>Nisl, nibh ipsum ultrices sapien. Eros nulla tortor sit phasellus venenatis vel fermentum quisque commodo. euismod a arcu turpis egestas faucibus urna neque. A sollicitudin habitant morbi in condimentum blandit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet eleifend euismod in purus magna risus est. <a href="#0">Erat vitae vitae tortor</a>, ultrices nisi est tortor sit elementum. Orci, eleifend faucibus adipiscing turpis. Et diam rutrum quis tristique est in eleifend. Amet non enim urna vestibulum sed amet. Vel dictum gravida nibh diam odio amet phasellus commodo, ac. Dis quam maecenas eget tristique eu ipsum. Velit donec tempus aliquet sollicitudin volutpat.</p>
        <h3>H3 example lorem ipsum</h3>
        <p>Et diam rutrum quis tristique est in eleifend. Amet non enim urna vestibulum sed amet. Vel dictum gravida nibh diam odio amet phasellus commodo, ac. Dis quam maecenas eget tristique eu ipsum. Velit donec tempus aliquet sollicitudin volutpat.</p>
        <div class="rvt-c-quote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, faucibus odio vitae tincidunt venenatis ac gravida dictum. Sit lacus, turpis urna facilisis tincidunt sit fusce. Sit nisl amet, morbi in magna scelerisque <a href="#0">sollicitudin pellentesque</a>.</p>
        </div>
        <h3>H3 example lorem ipsum</h3>
        <p>Et diam rutrum quis tristique est in eleifend. Amet non enim urna vestibulum sed amet. Vel dictum gravida nibh diam odio amet phasellus commodo, ac.</p>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices quis viverra ultrices vitae gravida diam. Sed arcu habitant adipiscing dui et cras cras quis.</li>
          <li><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Netus facilisis ac proin enim, vitae, pulvinar. Suspendisse vehicula tellus mus nisi amet condimentum facilisis. Ante sit elementum posuere interdum odio.</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas magna orci, vel. Habitant urna vulputate integer vitae. Erat consectetur massa amet tincidunt quam. Augue augue vel vitae ut nunc facilisis ornare. Arcu suspendisse elit tortor, arcu. Sit magna cras eget arcu, sit tempus.</p>
        <a href="#" class="rvt-cta">Lorem ipsum link</a>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas magna orci, vel. Habitant urna vulputate integer vitae. Erat consectetur massa amet tincidunt quam. Augue augue vel vitae ut nunc facilisis ornare. Arcu suspendisse elit tortor, arcu. Sit magna cras eget arcu, sit tempus.</p>
        <div class="rvt-c-photo-essay">
          <figure class="rvt-c-photo-essay__img--top">
            <img alt="A swimmer standing beside the IUB natatorium pool." src="{{ '/img/fill/iub-swimmer--poolside.png' | url }}" />
          </figure>
          <div class="rvt-c-photo-essay__group">
            <figure class="rvt-c-photo-essay__img--bottom">
              <img alt="A swimmer in the IUB natatorium pool." src="{{ '/img/fill/iub-swimmer--water.png' | url }}" />
            </figure>
            <figure class="rvt-c-photo-essay__img--bottom rvt-c-photo-essay__img--right">
              <img alt="A banner inside the IUB natatorium that reads 100 Olympians." src="{{ '/img/fill/natatorium-stats.png' | url }}" />
            </figure>
          </div>
        </div>
        {{ Heading({ 
          paddingSmall: true,
          title: "H2 example lorem ipsum"
          })
        }}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dolor, scelerisque massa. Sit dolor cras et hendrerit leo nec pellentesque quam. Tempus mollis lectus sed posuere sit volutpat sagittis ultrices. Sodales ridiculus ut commodo amet morbi tortor. Dolor urna non convallis massa in egestas nec. Neque, aliquam facilisis urna, in tristique.</p>
        <div class="rvt-c-quote rvt-c-quote--script">
          <p>An example of quote style lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <p>Nisl, nibh ipsum ultrices sapien. Eros nulla tortor sit phasellus venenatis vel fermentum quisque commodo. euismod a arcu turpis egestas faucibus urna neque. A sollicitudin habitant morbi in condimentum blandit.</p>
        <div class="rvt-accordion" data-rvt-accordion="example-accordion">
          <h2 class="rvt-accordion__summary">
            <button class="rvt-accordion__toggle" id="example-accordion-1-label" data-rvt-accordion-trigger="example-accordion-1">
              <span class="rvt-accordion__toggle-text">Lorem ipsum</span>
              <div class="rvt-accordion__toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="currentColor">
                    <path class="rvt-accordion__icon-bar" d="M8,15a1,1,0,0,1-1-1V2A1,1,0,0,1,9,2V14A1,1,0,0,1,8,15Z" />
                    <path d="M14,9H2A1,1,0,0,1,2,7H14a1,1,0,0,1,0,2Z" />
                  </g>
                </svg>
              </div>
            </button>
          </h2>
          <div class="rvt-accordion__panel" id="example-accordion-1" aria-labelledby="example-accordion-1-label" data-rvt-accordion-panel="example-accordion-1">
            <p class="rvt-m-all-remove">Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
          </div>
          <h2 class="rvt-accordion__summary">
            <button class="rvt-accordion__toggle" id="example-accordion-2-label" data-rvt-accordion-trigger="example-accordion-2">
              <span class="rvt-accordion__toggle-text">Lorem ipsum</span>
              <div class="rvt-accordion__toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="currentColor">
                    <path class="rvt-accordion__icon-bar" d="M8,15a1,1,0,0,1-1-1V2A1,1,0,0,1,9,2V14A1,1,0,0,1,8,15Z" />
                    <path d="M14,9H2A1,1,0,0,1,2,7H14a1,1,0,0,1,0,2Z" />
                  </g>
                </svg>
              </div>
            </button>
          </h2>
          <div class="rvt-accordion__panel" id="example-accordion-2" aria-labelledby="example-accordion-2-label" data-rvt-accordion-panel="example-accordion-2">
            <p class="rvt-m-all-remove">IU offers more than 2,300 different programs of study. Not sure what to focus on? No problem. Browse by interest area to find options you'd enjoy pursuing.</p>
          </div>
          <h2 class="rvt-accordion__summary">
            <button class="rvt-accordion__toggle" id="example-accordion-3-label" data-rvt-accordion-trigger="example-accordion-3">
              <span class="rvt-accordion__toggle-text">Lorem ipsum</span>
              <div class="rvt-accordion__toggle-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="currentColor">
                    <path class="rvt-accordion__icon-bar" d="M8,15a1,1,0,0,1-1-1V2A1,1,0,0,1,9,2V14A1,1,0,0,1,8,15Z" />
                    <path d="M14,9H2A1,1,0,0,1,2,7H14a1,1,0,0,1,0,2Z" />
                  </g>
                </svg>
              </div>
            </button>
          </h2>
          <div class="rvt-accordion__panel" id="example-accordion-3" aria-labelledby="example-accordion-3-label" data-rvt-accordion-panel="example-accordion-3">
            <p class="rvt-m-all-remove">From nursing to criminal justice, epidemiology to environmental science, social work to cybersecurity, and more than 900 academic programs in between, IU gives you the power to study whatever sparks your interest, with the support of world-class professors and faculty who care about your success.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="rvt-row">
      <div class="rvt-cols-12">
        {{ Heading({ 
          title: "Author"
          })
        }}
      </div>
      <div class="rvt-cols-6-md">
        {{ Contact({
          eyebrow: "IUPUI",
          title: "Just Whitaker",
          position: "Communications consultant",
          url: "#0"
          })
        }}
      </div>
      <div class="rvt-cols-6-md rvt-m-top-sm rvt-m-top-none-md-up">
        {{ Contact({
          eyebrow: "IUPUI",
          title: "Just Whitaker",
          position: "Communications consultant",
          url: "#0"
          })
        }}
      </div>
    </div>
    <div class="rvt-c-tag-group">
      <h2 class="rvt-c-tag-group__title">Filed under:</h2>
      <a class="rvt-c-tag" href="#0">Honors college</a>
      <a class="rvt-c-tag" href="#0">School of Science</a>
      <a class="rvt-c-tag" href="#0">Commencement</a>
      <a href="#0" class="rvt-c-tag--all"><span>View all tags</span>{% include "icons/plus.svg" %}</a>
    </div>
    <div class="rvt-c-pagination-group rvt-c-pagination-group--articles">
      {{ Pagination({}) }}
    </div>
    <div>
      {{ Heading({ 
        padding: "sm",
        title: "Recommended stories"
        })
      }}
      <div class="rvt-row rvt-m-top-sm">
        <div class="rvt-flex rvt-cols-6-md">
          {{ Card({
            interactive: true,
            headingLevel: "h3",
            img: "/img/fill/powwow.png",
            alt: "A globe centered on Ukraine",
            eyebrow: "Campus Life",
            title: "Indigenous students celebrate and connect through IU Traditional Powwow",
            url: "#0",
            meta: [{
              campus: "IU Bloomington",
              time: "April 14, 2022"
            }]
          }) }}
        </div>
        <div class="rvt-flex rvt-cols-6-md rvt-m-top-sm rvt-m-top-none-md-up">
          {{ Card({
            interactive: true,
            headingLevel: "h3",
            img: "/img/fill/iu-day.png",
            alt: "A globe centered on Ukraine",
            eyebrow: "Campus Life",
            title: "University community will celebrate IU Day on April 20",
            url: "#0",
            meta: [{
              campus: "IU Bloomington",
              time: "April 13, 2022"
            }]
          }) }}
        </div>
      </div>
    </div>
  </div>
</main>