{% macro Contact(params) %}
  <div class="rvt-card">
    <div class="rvt-card__body">
      <div class="rvt-card__eyebrow">{{ params.eyebrow }}</div>
      <h3 class="rvt-card__title">
        <a href="{{ params.url }}">{{ params.title }}</a>
      </h3>
      <span class="rvt-ts-16">{{ params.position }}</span>
      {% if params.meta %}
        <div class="rvt-card__meta">
          {% for meta in params.meta %}
            {% if meta.phone %}<div><span class="rvt-text-bold">P: </span><a href="tel:+1{{ meta.phone }}"><span>{{ meta.phone }}</span></a></div>{% endif %}
            {% if meta.email %}<div><span class="rvt-text-bold">E: </span><a href="mailto:{{ meta.email }}"><span>{{ meta.email }}</span></a></div>{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}