{% macro Contact(params) %}
  <div class="rvt-card">
    <div class="rvt-card__body">
      {% if params.img %}
        <img class="rvt-avatar__image rvt-avatar--md rvt-border-radius-circle rvt-m-bottom-sm" src="{{ params.img | url }}" alt="{{ params.title }}">
      {% endif %}
      <div class="rvt-card__eyebrow">{{ params.eyebrow }}</div>
      {% set headingLevel = "h3" %}
      {% if params.headingLevel %}
        {% set headingLevel = params.headingLevel %}
      {% endif %}
      <{{headingLevel}} class="rvt-card__title">
        <a href="{{ params.url }}">{{ params.title }}</a>
      </{{headingLevel}}>
      <span class="rvt-ts-16">{{ params.position }}</span>
      {% if params.bullets %}
        <div class="rvt-card__content">
          <ul>
            {% for bullet in params.bullets %}
              <li>{{ bullet }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if params.meta %}
        <div class="rvt-card__meta">
          {% for meta in params.meta %}
            {% if meta.phone %}<div><span class="rvt-text-bold">P: </span><a href="tel:+1{{ meta.phone }}"><span>{{ meta.phone }}</span></a></div>{% endif %}
            {% if meta.email %}<div><span class="rvt-text-bold">E: </span><a href="mailto:{{ meta.email }}"><span>{{ meta.email }}</span></a></div>{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}