{% macro Card(params) %}
  <div class="rvt-card rvt-c-card{% if not params.flat %} rvt-card--raised{% endif %}{% if params.horizontal %} rvt-c-card--horizontal{% endif %}{% if params.bg %} rvt-bg-{{ params.bg }}{% endif %}{% if params.classes %} {{ params.classes }}{% endif %}">
    {% if params.img %}
      <div class="rvt-card__image">
        <img src="{{ params.img | url }}" alt="{{ params.alt }}">
      </div>
    {% endif %}
    {% if params.avatar %}
      <div>
        <img src="{{ params.avatar | url }}" alt="{{ params.alt }}" class="rvt-avatar--md rvt-border-radius-circle rvt-m-bottom-sm">
      </div>
    {% endif %}
    <div class="rvt-card__body{% if params.avatar %} rvt-flex-column{% endif %}"{% if params.wide %} style="flex-basis: 100%; max-width: 100%;"{% endif %}>
      {% if params.icon %}
        {% set icon = params.icon %}
        {% set variant = "stickers/" + icon + ".svg" %}
        <div class="rvt-c-card--horizontal__icon">
          {% include variant %}
        </div>
      {% endif %}
      {% if params.eyebrow %}
        <div class="rvt-card__eyebrow">{{ params.eyebrow }}</div>
      {% endif %}
      {% set headingLevel = "h2" %}
      {% if params.headingLevel %}
        {% set headingLevel = params.headingLevel %}
      {% endif %}
      {% if not params.tucked %}
        <{{headingLevel}} class="rvt-card__title{% if params.ts %} rvt-ts-{{ params.ts }}{% endif %}">{% if params.interactive %}<a href="{{ params.url | url }}">{% endif %}{{ params.title }}{% if params.interactive %}</a>{% endif %}</{{headingLevel}}>
      {% endif %}
      {% if params.description %}
        <div class="rvt-card__content [ rvt-flow ]{% if params.contentMargin %} rvt-m-top-{{ params.contentMargin }}{% endif %}">
          {% if params.tucked %}
            <{{headingLevel}} class="rvt-card__title{% if params.ts %} rvt-ts-{{ params.ts }}{% endif %}">{% if params.interactive %}<a href="{{ params.url | url }}">{% endif %}{{ params.title }}{% if params.interactive %}</a>{% endif %}</{{headingLevel}}>
          {% endif %}
          <p>{{ params.description }}</p>
          {% if params.CTA %}
            <a href="{{ params.CTALink | url }}" class="rvt-cta">{{ params.CTA }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if params.meta %}
      <div class="rvt-c-card__meta rvt-p-all-md rvt-ts-14">
        {% for meta in params.meta %}
          {% if meta.campus %}<span>{{ meta.campus }}&nbsp;</span>{% endif %}{% if meta.time %}<time>&nbsp;{{ meta.time }}</time>{% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if params.button %}
      <div class="rvt-card__button-container">
        <div class="rvt-card__button">
          <a href="{{ params.CTALink | url }}" class="rvt-button rvt-button--crimson">{{ params.button }}</a>
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}