{% macro Card(params) %}
  <div class="rvt-card rvt-card--raised{% if params.horizontal %} rvt-c-card--horizontal{% endif %}">
    {% if params.img %}
      <div class="rvt-card__image">
        <img src="{{ params.img }}" alt="{{ params.alt }}">
      </div>
    {% endif %}
    <div class="rvt-card__body">
      {% if params.icon %}
        {% set icon = params.icon %}
        {% set variant = "stickers/" + icon + ".svg" %}
        <div class="rvt-c-card--horizontal__icon">
          {% include variant %}
        </div>
      {% endif %}
      {% if params.eyebrow %}
        <div class="rvt-card__eyebrow">{{ params.eyebrow }}</div>
      {% endif %}
      <h3 class="rvt-card__title">{% if params.interactive %}<a href="{{ params.url }}">{% endif %}{{ params.title }}{% if params.interactive %}</a>{% endif %}</h3>
      {% if params.description %}
        <div class="rvt-card__content [ rvt-flow ]">
          <p>{{ params.description }}</p>
        </div>
      {% endif %}
    </div>
    {% if params.meta %}
      <div class="rvt-c-card__meta rvt-p-all-md rvt-ts-14">
        {% for meta in params.meta %}
          {% if meta.campus %}<span>{{ meta.campus }}&nbsp;</span>{% endif %}{% if meta.time %}<time>&nbsp;{{ meta.time }}</time>{% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if params.CTA %}
      <div class="rvt-card__button-container">
        <div class="rvt-card__button">
          <a href="{{ params.CTALink }}" class="rvt-button rvt-button--crimson">{{ params.CTA }}</a>
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}