{% macro Heading(params) %}
  <div class="rvt-c-heading{% if params.border %} rvt-border-bottom rvt-p-bottom-sm{% endif %}{% if params.padding %} rvt-p-top-{{ params.padding }}{% endif %}">
    {% if params.eyebrow %}
      <span class="rvt-c-heading__eyebrow">{{ params.eyebrow }}</span>
    {% endif %}
    <div class="rvt-c-heading__content">
      {% set headingLevel = "h2" %}
      {% if params.headingLevel %}
        {% set headingLevel = params.headingLevel %}
      {% endif %}
      <{{headingLevel}} class="rvt-c-heading__title{% if params.ts %} rvt-ts-{{ params.ts }}{% endif %}">{{ params.title | safe }}</{{headingLevel}}>
      {% if params.cta %}
        <a href="{{ params.url | url }}" class="rvt-cta">{{ params.cta }}</a>
      {% endif %}
      {% if params.description %}
        <p>{{ params.description }}</p>
      {% endif%}
    </div>
  </div>
{% endmacro %}