{% macro Profile(params) %}
  <div class="rvt-c-profile">
    <div class="rvt-container">
      <div class="rvt-c-profile__inner">
        <div class="rvt-c-profile__body [ rvt-flow ]">
          <div class="rvt-avatar rvt-avatar--md">
            <img class="rvt-avatar__image" src="{{ params.img }}" alt="{{ params.name }}">
          </div>
          <span class="rvt-c-profile__eyebrow">{{ params.name }}</span>
          <h3 class="rvt-c-profile__title">{{ params.name }}</h3>
          <div class="rvt-c-profile__teaser">
            <p>{{ params.description }}</p>
          </div>
          <div class="rvt-c-profile__actions">
            <a class="rvt-cta" href="#">More about {{ params.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}