---
layout: "layouts/base.njk"
title: "Faculty experts"
description: "Find IU faculty experts."
---
{%- from "components/breadcrumbs.njk" import Breadcrumbs -%}
{%- from "components/card.njk" import Card -%}
{%- from "components/card--contact.njk" import Contact -%}
{%- from "components/heading.njk" import Heading -%}
{%- from "components/profile.njk" import Profile -%}

<main id="main-content" class="rvt-layout rvt-c-layout rvt-p-bottom-3-xl">
  <div class="rvt-flow rvt-bg-black-000">
    <div class="rvt-container-xl">
      <div class="rvt-row rvt-p-top-xxl-md-up">
        <div class="rvt-hero" style="width: 100%;">
          <div class="rvt-container-xl">
            <div class="rvt-hero__inner">
              <div class="rvt-hero__body [ rvt-flow ]">
                <span class="rvt-hero__eyebrow">Experts</span>
                <h1 class="rvt-hero__title">IU experts are ready to talk about Ukraine</h1>
                <div class="rvt-hero__teaser">
                  <p>On Feb. 24, Russia launched a military invasion of its neighbor, Ukraine. IU political scientists, historians and economists are available to discuss the impacts of the invasion on a wide range of topics, including foreign policy and politics, the economy, historical context, diplomacy and more.</p>
                </div>
              </div>
              <div class="rvt-hero__media">
                <img src="{{ '/img/fill/ukraine.png' | url }}" alt="A globe centered on Ukraine">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rvt-flow">
    <div class="rvt-container-xl">
      <div class="rvt-row rvt-p-top-sm">
        {{ Breadcrumbs({ navigation: [{
              title: "Media",
              url: "/media/"
            },
            {
              title: "Faulty experts",
              url: "/media/experts/"
            },
            {
              title: "Topics",
              url: "/media/topics/"
            },
            {
              current: true,
              title: "Ukraine",
              url: "/media/topics/ukraine/"
            }]
          })
        }}
        {{ Card({
          horizontal: true,
          bg: "black-000",
          classes: "rvt-p-tb-xl rvt-p-lr-4-xl",
          tucked: true,
          avatar: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
          alt: "David Bosco",
          ts: "29",
          contentMargin: "none",
          flat: true,
          headingLevel: "h2",
          eyebrow: "Featured expert",
          title: "David Bosco",
          description: "David Bosco is associate professor of internatinal studies in the Hamilton Lugar School at IU Bloomington. He is an international law expert and is available to comment on the allegations that Russia has committed war crimes in Ukraine.",
          CTALink: "#0",
          CTA: "More about David Bosco"
        }) }}
        {{ Heading({ 
            padding: "xl",
            border: true,
            title: "Directory",
            headingLevel: "h2"
          })
        }}
      </div>
    </div>
  </div>
  <div class="rvt-layout__wrapper rvt-layout__wrapper--details">
    <div class="rvt-layout__sidebar">
      <div class="rvt-c-archive-filter">
        <div class="rvt-c-archive-filter__results rvt-m-bottom-sm">
          <p class="rvt-text-uppercase rvt-color-crimson rvt-m-top-none"><span>29</span> experts</p>
        </div>
        <div class="rvt-archive__filters-toggle rvt-cols rvt-cols--last rvt-hide-lg-up">
          <button aria-expanded="false" class="rvt-button rvt-button--plain" data-disclosure-toggle="filters" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16">
              <path d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" fill="currentColor"></path>
            </svg>
            <span class="rvt-m-left-xs">Filter</span>
          </button>
        </div>
        <div class="rvt-c-archive-filter__filters rvt-cols-12 rvt-hide-sm-down rvt-p-left-none" data-disclosure="filters">
          <form class="rvt-m-bottom-xxl" data-archive-filters="" role="search">
            <fieldset class="rvt-border-all-none rvt-p-all-none">
              <label class="rvt-label" for="filter-archive-campus">Campus:</label> 
              <select class="rvt-select" data-archive-filter="campus" id="filter-archive-campus">
                <option value="all">All campuses</option>
                <option value="IUB">Bloomington</option>
                <option value="IUPUI">IUPUI</option>
                <option value="IUPUC">IUPUC</option>
                <option value="IUE">East</option>
                <option value="IUFW">Fort Wayne</option>
                <option value="IUK">Kokomo</option>
                <option value="IUN">Northwest</option>
                <option value="IUSB">South Bend</option>
                <option value="IUS">Southeast</option>
              </select>
              <label class="rvt-label rvt-m-top-md" for="filter-archive-category">Filter by category:</label> 
              <ul class="rvt-list-plain rvt-width-xl">
                <li>
                  <div class="rvt-checkbox">
                    <input type="checkbox" name="filter-archive-category" id="category-1">
                    <label for="category-1">Ukrainian language and culture (2)</label>
                  </div>
                </li>
                <li>
                  <div class="rvt-checkbox">
                    <input type="checkbox" name="filter-archive-category" id="category-2">
                    <label for="category-2">Foreign policy and politics (13)</label>
                  </div>
                </li>
                <li>
                  <div class="rvt-checkbox">
                    <input type="checkbox" name="filter-archive-category" id="category-3">
                    <label for="category-3">Historical context (2)</label>
                  </div>
                </li>
                <li>
                  <div class="rvt-checkbox">
                    <input type="checkbox" name="filter-archive-category" id="category-4">
                    <label for="category-4">Economic impact (6)</label>
                  </div>
                </li>
                <li>
                  <div class="rvt-checkbox">
                    <input type="checkbox" name="filter-archive-category" id="category-5">
                    <label for="category-5">Cybersecurity (2)</label>
                  </div>
                </li>
                <li>
                  <div class="rvt-checkbox">
                    <input type="checkbox" name="filter-archive-category" id="category-6">
                    <label for="category-6">Communications (3)</label>
                  </div>
                </li>
                <li>
                  <div class="rvt-checkbox">
                    <input type="checkbox" name="filter-archive-category" id="category-7">
                    <label for="category-7">Giving and philanthropic support (1)</label>
                  </div>
                </li>
              </ul>
              <label class="rvt-label rvt-m-top-md" for="filter-archive-search">Search:</label>
              <div class="rvt-input-group">
                <input class="rvt-input-group__input rvt-text-input" data-archive-filter="search" id="filter-archive-search" type="text">
              </div>
            </fieldset>
            <button class="rvt-button rvt-button--full-width rvt-m-top-md" data-show-archive-results="" type="submit">Show results</button>
            <button class="rvt-button rvt-button--danger-secondary rvt-button--full-width rvt-m-top-sm" data-clear-archive-filters="" style="display: none" type="button">Clear filters</button>
          </form>
        </div>
      </div>
    </div>
    <div class="rvt-layout__content">
      {{ Heading({ 
          border: true,
          padding: "none",
          title: "Ukrainian language and culture",
          headingLevel: "h3"
        })
      }}
      <div class="rvt-cols-12 rvt-cols-6-md rvt-flex">
        {{ Contact({
          img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
          eyebrow: "Bloomington",
          headingLevel: "h4",
          title: "Sofiya Asher",
          position: "Curriculum Coordinator",
          url: "#0",
          bullets: [
            "A native of Ukraine who teaches Ukrainian, Polish and Russian"
          ]
          })
        }}
      </div>
      <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-none-md-up">
        {{ Contact({
          img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
          eyebrow: "Bloomington",
          headingLevel: "h4",
          title: "Svitlana Melnyk",
          position: "Instructor",
          url: "#0",
          bullets: [
            "A native of Ukraine who can speak on Ukrainian language and culture, language policy, and language in education"
          ]
          })
        }}
      </div>
      {{ Heading({ 
          border: true,
          title: "Foreign policy and politics",
          headingLevel: "h3"
        })
      }}
      <div class="rvt-cols-12 rvt-cols-6-md rvt-flex">
        {{ Contact({
          img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
          eyebrow: "Bloomington",
          headingLevel: "h4",
          title: "David Bosco",
          position: "Associate Professor, International Studies",
          url: "#0",
          bullets: [
            "International governance",
            "International law",
            "The International Criminal Court",
            "The United Nations"
          ]
          })
        }}
      </div>
      <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-none-md-up">
        {{ Contact({
          img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
          eyebrow: "IUPUI",
          headingLevel: "h4",
          title: "Andrew Bell",
          position: "Instructor",
          url: "#0",
          bullets: [
            "International security",
            "International law",
            "The law of armed conflict",
            "Urban warfare",
            "Humanitarian intervention"
          ]
          })
        }}
      </div>
      <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-none-md-up">
        {{ Contact({
          img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg",
          eyebrow: "Bloomington",
          headingLevel: "h4",
          title: "Lorem Ipsum",
          position: "Dolor sit amet",
          url: "#0",
          bullets: [
            "International house of pancakes",
            "The law of the order"
          ]
          })
        }}
      </div>
    </div>
  </div>
</main>