{%- from "components/header.njk" import Header -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "stylesheets.njk" %}
  {% include "demo-styles.njk" %}
</head>
<body>
  {{ 
    Header({
      pageURL: page.url,
      navigation: [
        { 
          title: "News",
          link: "/news/",
          subnav:   [
            { title: "Bloomington news", link: "/news/bloomington/" },
            { title: "IUPUI news", link: "/news/iupui/" }
          ]
        },
        { 
          title: "Media",
          link: "/media/",
          subnav:   [
            { title: "Faculty experts", link: "/media/experts/" },
            { title: "Media specialists", link: "/media/specialists/" },
            { title: "Tip sheets", link: "/media/tip-sheets/" }
          ]
        },
        { 
          title: "IU Today: News for faculty & staff",
          external: "true",
          link: "https://today.iu.edu/"
        }
      ]
    })
  }}
  {{ layoutContent | safe }}
  {% include "footer.njk" %}
  <script src="https://unpkg.com/rivet-core@2.0.0-beta.4/js/rivet.min.js"></script>
  <script src="./js/site.js"></script>
  <script>
    Rivet.init();
  </script>
</body>
</html>