---
layout: "layouts/base.njk"
title: "M.K. Chin"
description: "Learn more about IU faculty expert M.K. Chin"
---
{%- from "components/breadcrumbs.njk" import Breadcrumbs -%}
{%- from "components/card--contact.njk" import Contact -%}
{%- from "components/heading.njk" import Heading -%}
{%- from "components/linkHub.njk" import LinkHub -%}
{%- from "components/newsFeed.njk" import NewsFeed -%}
{%- from "components/pagination.njk" import Pagination -%}

<main id="main-content" class="rvt-m-bottom-xxl">
  <div class="rvt-flow">
    <div class="rvt-container-sm">
      <div class="rvt-row rvt-p-top-3-xl">
        {{ Breadcrumbs({ navigation: [{
              title: "Media",
              url: "media/"
            },
            {
              current: true,
              title: "Faculty experts",
              url: "media/experts/"
            },
            {
              current: true,
              title: "M.K. Chin",
              url: "media/experts/chin-mk/"
            }]
          })
        }}
        {{ Heading({ 
            padding: "none",
            eyebrow: "Bloomington",
            title: "M.K. Chin <span lang='ko'>(진문균)</span>",
            headingLevel: "h1"
          })
        }}
      </div>
    </div>
    <div class="rvt-c-share rvt-border-top rvt-border-bottom">
      <div class="rvt-container-sm">
        <div class="rvt-row rvt-color-black-400 rvt-ts-14 rvt-p-tb-sm rvt-flex">
          <span class="rvt-text-medium rvt-p-right-xs rvt-border-right"><a href="#0">Download print-quality photo</a></span><span class="rvt-p-left-xs rvt-p-right-xs rvt-border-right"><strong>P:</strong> <a href="tel:8128567916">812-856-7916</a></span><span class="rvt-p-left-xs rvt-p-right-xs rvt-border-right"><strong>E:</strong> <a href="mailto:nolanb@indiana.edu">nolanb@indiana.edu</a></span><span class="rvt-ts-12 rvt-badge rvt-badge--info-secondary rvt-m-left-sm rvt-m-tb-xxs rvt-m-tb-none-md-up">LinkedIn</span>
        </div>
      </div>
    </div>
    <div class="rvt-container-sm rvt-p-top-xxl">
      <div class="rvt-row">
        <h2 class="rvt-ts-29">Expert Bio</h2>
        <div class="rvt-p-bottom-md rvt-color-black-400 rvt-ts-18 rvt-border-bottom">
          <p>M.K. Chin <span lang="ko">(진문균)</span> is assistant professor of management at the IU Kelley School of Business. His research interests are focused within the field of strategic management, particularly on issues concerning psychological and sociopolitical factors in top management teams and their influences on organizational outcomes.</p>
          <p>His current research focuses on the influence of upper echelons’ political ideologies on various organizational outcomes, including strategic decisions, corporate governance, activism, corporate entrepreneurship, innovation, corporate financial and social performance.</p>
          <p>His research has been published in Administrative Science Quarterly, Academy of Management Journal, and Strategic Management Journal. His teaching interests include strategic leadership, corporate governance, behavioral strategy, technology management and international management. He is on the Editorial Review Board for Strategic Management Journal, Administrative Science Quarterly, Academy of Management Journal and Organization Science.</p>
        </div>
        <div class="rvt-p-bottom-md rvt-color-black-400 rvt-ts-18 rvt-border-bottom">
          <h3 class="rvt-ts-29 rvt-m-top-xxl rvt-m-bottom-md rvt-color-black">Degrees</h3>
          <ul>
            <li>Ph.D. in Management, The Pennsylvania State University, 2014</li>
            <li>M.S. in Strategy and International Business, Seoul National University, 2009</li>
            <li>B.A. in Economics, Seoul National University, 2006</li>
          </ul>
        </div>
        <div class="rvt-p-bottom-md rvt-color-black-400 rvt-ts-18 rvt-border-bottom">
          <h3 class="rvt-ts-29 rvt-m-top-xxl rvt-m-bottom-md rvt-color-black">Professional Experience</h3>
          <ul>
            <li>Editorial Review Board, Strategic Management Journal, 2019-</li>
            <li>M.S. in Strategy and International Business, Seoul National University, 2009</li>
            <li>B.A. in Economics, Seoul National University, 2006</li>
          </ul>
        </div>
      </div>
      <div class="rvt-row rvt-m-top-xxl">
        <h2 class="rvt-ts-29 rvt-m-bottom-xxl">Related article</h2>
        <div class="">
          {{ NewsFeed({ news: [{
                img: "/img/fill/olympics.png",
                alt: "The Olympic torch.",
                eyebrow: "Global",
                title: "IU Kelley School dean and two alumni participating in Olympic torch relay in Seoul",
                meta: [{
                  campus: "IU Bloomington",
                  time: "Jan. 4, 2018"
                }]
              }]
            })
          }}
      </div>
    </div>
  </div>
</main>