@use 'sass:math';
@use "../../../node_modules/rivet-core/sass/core/variables.scss" as *;

// Billboard customization
.#{$prefix}-c-billboard {
  .#{$prefix}-billboard__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
