---
layout: "layouts/base.njk"
title: "IU News"
description: "Learn about news from all of Indiana Universitys campuses."
---
{%- from "components/breadcrumbs.njk" import Breadcrumbs -%}
{%- from "components/card.njk" import Card -%}
{%- from "components/card--sticker.njk" import Sticker -%}
{%- from "components/heading.njk" import Heading -%}
{%- from "components/linkHub.njk" import LinkHub -%}
{%- from "components/newsFeed.njk" import NewsFeed -%}

<main id="main-content" class="rvt-layout rvt-c-layout">
  <div class="rvt-flow rvt-bg-black-000">
    <div class="rvt-container-lg">
      <div class="rvt-row rvt-p-top-3-xl">
        {{ Heading({ 
            ts: "41",
            padding: "none",
            eyebrow: "News",
            title: "Explore IU Stories",
            headingLevel: "h1"
          })
        }}
        <nav class="rvt-subnav rvt-m-top-lg" aria-label="Section navigation">
          <ul class="rvt-subnav__list rvt-p-left-none">
            <li class="rvt-subnav__item">
              <a class="rvt-text-medium" href="#0" aria-current="page">All IU Campuses</a>
            </li>
            <li class="rvt-subnav__item">
              <a class="rvt-text-medium" href="#0">Bloomington</a>
            </li>
            <li class="rvt-subnav__item">
              <a class="rvt-text-medium" href="#0">IUPUI</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="rvt-flow">
    <div class="rvt-container-lg">
      <div class="rvt-row rvt-p-top-sm">
        {{ Breadcrumbs({ navigation: [{
              current: true,
              title: "News",
              url: "#0"
            }]
          })
        }}
        {{ Heading({ 
            padding: "xl",
            border: true,
            eyebrow: "All campuses",
            title: "Latest IU news",
            headingLevel: "h2"
          })
        }}
      </div>
    </div>
  </div>
  <div class="rvt-layout rvt-c-layout">
    <div class="rvt-container-lg rvt-layout__wrapper rvt-layout__wrapper--details rvt-border-bottom">
      <div class="rvt-layout__sidebar rvt-p-top-xl rvt-border-right-none">
        <div class="rvt-c-articles-filter">
          <div class="rvt-c-articles-filter__results rvt-m-bottom-sm">
            <p class="rvt-text-uppercase rvt-color-crimson rvt-m-top-none"><span>621</span> articles</p>
          </div>
          <div class="rvt-degrees__filters-toggle rvt-cols rvt-cols--last rvt-hide-lg-up">
            <button aria-expanded="false" class="rvt-button rvt-button--plain" data-disclosure-toggle="filters" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16">
                <path d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" fill="currentColor"></path>
              </svg>
              <span class="rvt-m-left-xs">Filter</span>
            </button>
          </div>
          <div class="rvt-c-articles-filter__filters rvt-cols-12 rvt-hide-sm-down rvt-p-left-none" data-disclosure="filters">
            <form class="rvt-m-bottom-xxl" data-articles-filters="" role="search">
              <label class="rvt-label" for="filter-articles-topic">Topic:</label> 
              <select class="rvt-select" data-articles-filter="topic" id="filter-articles-topic">
                <option value="all">All topics</option>
                <option value="arts">Arts &amp; Humanities</option>
                <option value="business">Business and Innovation</option>
                <option value="campus">Campus Life</option>
                <option value="health">Health &amp; Wellness</option>
                <option value="global">Global</option>
                <option value="law">Law &amp; Policy</option>
                <option value="science">Science &amp; Technology</option>
                <option value="admin">Administration</option>
              </select>
              <label class="rvt-label rvt-m-top-xs" for="filter-articles-audience">News for:</label> 
              <select class="rvt-select" data-articles-filter="audience" id="filter-articles-audience">
                <option value="all">All IU affiliations</option>
                <option value="students">Students</option>
                <option value="faculty">Faculty &amp; Staff</option>
                <option value="community">IU Community</option>
                <option value="media">Media</option>
              </select>
              <label class="rvt-label rvt-m-top-xs" for="filter-articles-search">Search:</label>
              <div class="rvt-input-group">
                <input class="rvt-input-group__input rvt-text-input" data-articles-filter="search" id="filter-articles-search" type="text">
              </div>
              <button class="rvt-button rvt-button--full-width rvt-m-top-md" data-show-articles-results="" type="submit">Show results</button>
              <button class="rvt-button rvt-button--danger-secondary rvt-button--full-width rvt-m-top-sm" data-clear-articles-filters="" style="display: none" type="button">Clear filters</button>
            </form>
          </div>
        </div>
      </div>
      <div class="rvt-layout__content">
        <div class="rvt-cols-12 rvt-cols-6-md rvt-flex">
          {{ Card({
              interactive: true,
              img: "/img/fill/couple.png",
              alt: "A couple sitting alone on the bleachers",
              eyebrow: "Business & Innovation",
              title: "$1 million gift supports Kelley School's Center for the Business of Life Sciences",
              url: "#0",
              meta: [{
                campus: "IU Bloomington",
                time: "April 14, 2022"
              }]
            }) }}
        </div>
        <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-none-md-up">
          {{ Card({
              interactive: true,
              img: "/img/fill/powwow--sm.png",
              alt: "Students attending the IU Traditional Powwow",
              eyebrow: "Campus Life",
              title: "Indigenous students celebrate and connect through IU Traditional Powwow",
              url: "#0",
              meta: [{
                campus: "IU Bloomington",
                time: "April 14, 2022"
              }]
            }) }}
        </div>
        <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-xxl-md-up">
          {{ Card({
              interactive: true,
              img: "/img/fill/maya-cade.png",
              alt: "Black Film Archive creator Maya Cade.",
              eyebrow: "Arts & Humanities",
              title: "IU Cinema to host Black Film Archive creator Maya Cade as guest programmer",
              url: "#0",
              meta: [{
                campus: "IU Bloomington",
                time: "April 14, 2022"
              }]
            }) }}
        </div>
        <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-xxl-md-up">
          {{ Card({
              interactive: true,
              img: "/img/fill/iu-day--sm.png",
              alt: "Students celebrating IU Day.",
              eyebrow: "Campus Life",
              title: "University community will celebrate IU Day on April 20",
              url: "#0",
              meta: [{
                campus: "IU Bloomington",
                time: "April 14, 2022"
              }]
            }) }}
        </div>
        <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-xxl-md-up">
          {{ Card({
              interactive: true,
              img: "/img/fill/diplomas.png",
              alt: "IU diplomas.",
              eyebrow: "Administration",
              title: "Trustees approve state's first music therapy Ph.D.",
              url: "#0",
              meta: [{
                campus: "IUPUI",
                time: "April 14, 2022"
              }]
            }) }}
        </div>
        <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-xxl-md-up">
          {{ Card({
              interactive: true,
              img: "/img/fill/south-bend.png",
              alt: "A building on the IU South Bend campus.",
              eyebrow: "Administration",
              title: "Renovations approved to create nursing simulation center at IU South Bend",
              url: "#0",
              meta: [{
                campus: "IU South Bend",
                time: "April 14, 2022"
              }]
            }) }}
        </div>
        <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-xxl-md-up">
          {{ Card({
              interactive: true,
              img: "/img/fill/summer-science.png",
              alt: "Students watching a demonstration involving plants.",
              eyebrow: "Science & Technology",
              title: "Holland Summer Science Programs transformational for young underrepresented students",
              url: "#0",
              meta: [{
                campus: "IU Bloomington",
                time: "April 14, 2022"
              }]
            }) }}
        </div>
        <div class="rvt-cols-12 rvt-cols-6-md rvt-flex rvt-m-top-sm rvt-m-top-xxl-md-up">
          {{ Card({
              interactive: true,
              img: "/img/fill/iu-seal.png",
              alt: "The IU Seal inside the IUB Memorial Union.",
              eyebrow: "Administration",
              title: "Indiana University president appoints new Academic Tuition and Fees Task Force",
              url: "#0",
              meta: [{
                campus: "Indiana University",
                time: "April 14, 2022"
              }]
            }) }}
        </div>
        <div class="rvt-row rvt-justify-center rvt-m-top-lg" style="width: 100%">
          <nav role="navigation" aria-label="More pages of articles">
            <ul class="rvt-pagination">
              <li class="rvt-pagination__item" aria-label="No previous pages">  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="currentColor">
                    <path d="M13,13.8a1,1,0,0,1-.77-.36L8.37,8.8a1.25,1.25,0,0,1,0-1.61l3.86-4.64a1,1,0,0,1,1.54,1.28L10.3,8l3.47,4.16A1,1,0,0,1,13,13.8ZM9.91,8.47h0Zm0-1h0Z"/>
                    <path d="M7,13.8a1,1,0,0,1-.77-.36L2.37,8.8a1.25,1.25,0,0,1,0-1.61L6.23,2.56A1,1,0,0,1,7.77,3.84L4.3,8l3.47,4.16A1,1,0,0,1,7,13.8ZM3.91,8.47h0Zm0-1h0Z"/>
                  </g>
                </svg>
              </li>
              <li class="rvt-pagination__item" aria-label="No previous page">
                <svg width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M10.5,15a1,1,0,0,1-.77-.36L4.87,8.8a1.25,1.25,0,0,1,0-1.61L9.73,1.36a1,1,0,0,1,1.54,1.28L6.8,8l4.47,5.36A1,1,0,0,1,10.5,15ZM6.41,8.47h0Zm0-1h0Z"/>
                </svg>
              </li>
              <li class="rvt-pagination__item">
                <a href="#0" aria-label="Page 1" aria-current="page">1</a>
              </li>
              <li class="rvt-pagination__item">
                <a href="#0" aria-label="Page 2">2</a>
              </li>
              <li class="rvt-pagination__item">
                <a href="#0" aria-label="Page 3">3</a>
              </li>
              <li class="rvt-pagination__item">
                <a href="#0" aria-label="Page 4">4</a>
              </li>
              <li class="rvt-pagination__item">
                <a href="#0" aria-label="Go to next page">
                  <svg width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" d="M5.5,15a1,1,0,0,1-.77-1.64L9.2,8,4.73,2.64A1,1,0,0,1,6.27,1.36L11.13,7.2a1.25,1.25,0,0,1,0,1.61L6.27,14.64A1,1,0,0,1,5.5,15ZM9.6,8.48h0Zm0-1h0Z"/>
                  </svg>
                </a>
              </li>
              <li class="rvt-pagination__item">
                <a href="#0" aria-label="Go to last page">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <g fill="currentColor">
                      <path d="M3,13.8a1,1,0,0,1-.77-1.64L5.7,8,2.23,3.84A1,1,0,0,1,3.77,2.56L7.63,7.2a1.25,1.25,0,0,1,0,1.61L3.77,13.44A1,1,0,0,1,3,13.8ZM6.1,8.48h0Zm0-1h0Z"/>
                      <path d="M9,13.8a1,1,0,0,1-.77-1.64L11.7,8,8.23,3.84A1,1,0,0,1,9.77,2.56L13.63,7.2a1.25,1.25,0,0,1,0,1.61L9.77,13.44A1,1,0,0,1,9,13.8Zm3.1-5.32h0Zm0-1h0Z"/>
                    </g>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="rvt-flow">
    <div class="rvt-container-lg">
      <div class="rvt-row rvt-items-center rvt-m-tb-xl">
        <h2 class="rvt-ts-14">Trending tags:</h2>
        <span class="rvt-ts-12 rvt-badge rvt-badge--info-secondary rvt-m-left-sm rvt-m-tb-xxs rvt-m-tb-none-md-up">Honors college</span>
        <span class="rvt-ts-12 rvt-badge rvt-badge--info-secondary rvt-m-left-sm rvt-m-tb-xxs rvt-m-tb-none-md-up">School of Science</span>
        <span class="rvt-ts-12 rvt-badge rvt-badge--info-secondary rvt-m-left-sm rvt-m-tb-xxs rvt-m-tb-none-md-up">Commencement</span>
        <a href="#0" class="rvt-ts-12 rvt-color-blue rvt-m-left-sm rvt-m-tb-xxs rvt-m-tb-none-md-up"><span class="rvt-m-right-xxs" style="line-height: 12px;">View all tags</span>{% include "icons/plus.svg" %}</a>
      </div>
    </div>
  </div>
</main>