---
layout: "layouts/base.njk"
title: "IU in the news"
description: "Find external news articles about IU"
---
{%- from "components/breadcrumbs.njk" import Breadcrumbs -%}
{%- from "components/card.njk" import Card -%}
{%- from "components/heading.njk" import Heading -%}
{%- from "components/newsFeed.njk" import NewsFeed -%}

<main id="main-content" class="rvt-layout rvt-c-layout rvt-p-bottom-3-xl">
  <div class="rvt-flow rvt-bg-black-000">
    <div class="rvt-container-xl">
      <div class="rvt-row rvt-p-top-lg rvt-p-top-3-xl-md-up rvt-p-bottom-lg">
        <div class="rvt-cols-12 rvt-cols-7-md">
          <div class="rvt-hero rvt-c-hero rvt-p-bottom-none">
            <div class="rvt-hero__inner">
              <div class="rvt-hero__body rvt-c-hero__body">
                <span class="rvt-hero__eyebrow">News</span>
                <h1 class="rvt-hero__title">IU in the news</h1>
                <div class="rvt-hero__teaser">
                  <p>IU in the News highlights a sampling of media stories featuring Indiana University from the past week. No editorial revisions are made to the content, which is presented as it was initially published or broadcast.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rvt-cols-12 rvt-cols-5-md rvt-self-end rvt-p-top-md rvt-p-top-none-md-up">
          {{ Card({
            interactive: true,
            title: "Have a news hit to share?",
            description: "Submit an external media story you’d like to see in IU in the News",
            url: "#0"
          }) }}
        </div>
      </div>
    </div>
  </div>
  <div class="rvt-flow">
    <div class="rvt-container-xl">
      <div class="rvt-row rvt-p-top-sm">
        {{ Breadcrumbs({ navigation: [{
              current: true,
              title: "IU in the news",
              url: "/iu-in-the-news/"
            }]
          })
        }}
      </div>
    </div>
  </div>
  <div class="rvt-layout__wrapper rvt-layout__wrapper--details">
    <div class="rvt-layout__sidebar">
      <div class="rvt-c-archive-filter">
        <div class="rvt-c-archive-filter__toggle">
          <button aria-expanded="false" class="rvt-button rvt-button--plain" data-disclosure-toggle="filters" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16">
              <path d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" fill="currentColor"></path>
            </svg>
            <span class="rvt-c-archive-filter__toggle-text">Filter</span>
          </button>
        </div>
        <div class="rvt-c-archive-filter__filters" data-disclosure="filters">
          <form class="rvt-c-archive-filter__form" data-archive-filters="" role="search">
            <fieldset class="rvt-c-archive-filter__fieldset">
              <label class="rvt-label" for="filter-archive-year">Filter by year:</label> 
              <select class="rvt-select" data-archive-filter="year" id="filter-archive-year">
                <option value="all">All</option>
                <option value="arts">Arts &amp; Humanities</option>
                <option value="business">Business and Innovation</option>
                <option value="campus">Campus Life</option>
                <option value="health">Health &amp; Wellness</option>
                <option value="global">Global</option>
                <option value="law">Law &amp; Policy</option>
                <option value="science">Science &amp; Technology</option>
                <option value="admin">Administration</option>
              </select>
              <label class="rvt-label" for="filter-archive-search">Search:</label>
              <div class="rvt-input-group">
                <input class="rvt-input-group__input rvt-text-input" data-archive-filter="search" id="filter-archive-search" type="text">
              </div>
            </fieldset>
            <button class="rvt-c-archive-filter__submit" data-show-archive-results="" type="submit">Show results</button>
            <button class="rvt-c-archive-filter__clear" data-clear-archive-filters="" style="display: none" type="button">Clear filters</button>
          </form>
        </div>
      </div>
    </div>
    <div class="rvt-layout__content" aria-live="polite">
      <div class="rvt-cols-12">
        {{ Heading({ 
            padding: "none",
            border: true,
            title: "All articles",
            headingLevel: "h2",
            results: true,
            total: "621",
            type: "articles"
          })
        }}
      </div>
      <div class="rvt-cols-12 rvt-m-bottom-sm">
        {{ Heading({ 
            padding: "sm",
            ts: "23",
            title: "April 2022",
            headingLevel: "h3",
            results: true,
            total: "4",
            type: "articles"
          }) }}
      </div>
      <div class="rvt-cols-md">
        {{ NewsFeed({ external: true, searchable: true, news: [{
              eyebrow: "The Conversation",
              title: "Jackie Robinson was a Republican until the GOP became the...",
              url: "#0",
              experts: [{
                url: "#0",
                name: "Chris Lamb",
                title: "Professor of journalism at IUPUI",
                img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg"
              },
              {
                url: "#0",
                name: "Jessica Biel",
                title: "Professor of journalism at IUPUI",
                img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg"
              }]
            },
            {
              eyebrow: "PBS",
              title: "How Much Do Social Media Algorithms Control You?",
              url: "#0"
            },
            {
              eyebrow: "WISH-TV",
              title: "Loophole in Indiana red flag law comes under fire",
              url: "#0",
              experts: [{
                url: "#0",
                name: "Chris Lamb",
                title: "Professor of journalism at IUPUI",
                img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg"
              }]
            },
            {
              eyebrow: "FOX59",
              title: "Where Indiana's red flag law stands one year after FedEx shooting",
              url: "#0",
              experts: [{
                url: "#0",
                name: "Chris Lamb",
                title: "Professor of journalism at IUPUI",
                img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg"
              }]
            }]
          })
        }}
      </div>
      <div class="rvt-cols-12 rvt-m-bottom-sm">
        {{ Heading({ 
            padding: "sm",
            ts: "23",
            title: "March 2022",
            headingLevel: "h3",
            results: true,
            total: "2",
            type: "articles"
          }) }}
      </div>
      <div class="rvt-cols-md">
        {{ NewsFeed({ external: true, searchable: true, news: [{
              eyebrow: "The Conversation",
              title: "Jackie Robinson was a Republican until the GOP became the...",
              url: "#0",
              experts: [{
                url: "#0",
                name: "Chris Lamb",
                title: "Professor of journalism at IUPUI",
                img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg"
              },
              {
                url: "#0",
                name: "Jessica Biel",
                title: "Professor of journalism at IUPUI",
                img: "https://v2.rivet.iu.edu/img/placeholder/avatar-1.jpg"
              }]
            },
            {
              eyebrow: "PBS",
              title: "How Much Do Social Media Algorithms Control You?",
              url: "#0"
            }]
          })
        }}
      </div>
      <div class="rvt-c-pagination-group">
        <nav role="navigation" aria-label="More pages of articles">
          <ul class="rvt-pagination">
            <li class="rvt-pagination__item" aria-label="No previous pages">  
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <g fill="currentColor">
                  <path d="M13,13.8a1,1,0,0,1-.77-.36L8.37,8.8a1.25,1.25,0,0,1,0-1.61l3.86-4.64a1,1,0,0,1,1.54,1.28L10.3,8l3.47,4.16A1,1,0,0,1,13,13.8ZM9.91,8.47h0Zm0-1h0Z"/>
                  <path d="M7,13.8a1,1,0,0,1-.77-.36L2.37,8.8a1.25,1.25,0,0,1,0-1.61L6.23,2.56A1,1,0,0,1,7.77,3.84L4.3,8l3.47,4.16A1,1,0,0,1,7,13.8ZM3.91,8.47h0Zm0-1h0Z"/>
                </g>
              </svg>
            </li>
            <li class="rvt-pagination__item" aria-label="No previous page">
              <svg width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M10.5,15a1,1,0,0,1-.77-.36L4.87,8.8a1.25,1.25,0,0,1,0-1.61L9.73,1.36a1,1,0,0,1,1.54,1.28L6.8,8l4.47,5.36A1,1,0,0,1,10.5,15ZM6.41,8.47h0Zm0-1h0Z"/>
              </svg>
            </li>
            <li class="rvt-pagination__item">
              <a href="#0" aria-label="Page 1" aria-current="page">1</a>
            </li>
            <li class="rvt-pagination__item">
              <a href="#0" aria-label="Page 2">2</a>
            </li>
            <li class="rvt-pagination__item">
              <a href="#0" aria-label="Page 3">3</a>
            </li>
            <li class="rvt-pagination__item">
              <a href="#0" aria-label="Page 4">4</a>
            </li>
            <li class="rvt-pagination__item">
              <a href="#0" aria-label="Go to next page">
                <svg width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" d="M5.5,15a1,1,0,0,1-.77-1.64L9.2,8,4.73,2.64A1,1,0,0,1,6.27,1.36L11.13,7.2a1.25,1.25,0,0,1,0,1.61L6.27,14.64A1,1,0,0,1,5.5,15ZM9.6,8.48h0Zm0-1h0Z"/>
                </svg>
              </a>
            </li>
            <li class="rvt-pagination__item">
              <a href="#0" aria-label="Go to last page">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="currentColor">
                    <path d="M3,13.8a1,1,0,0,1-.77-1.64L5.7,8,2.23,3.84A1,1,0,0,1,3.77,2.56L7.63,7.2a1.25,1.25,0,0,1,0,1.61L3.77,13.44A1,1,0,0,1,3,13.8ZM6.1,8.48h0Zm0-1h0Z"/>
                    <path d="M9,13.8a1,1,0,0,1-.77-1.64L11.7,8,8.23,3.84A1,1,0,0,1,9.77,2.56L13.63,7.2a1.25,1.25,0,0,1,0,1.61L9.77,13.44A1,1,0,0,1,9,13.8Zm3.1-5.32h0Zm0-1h0Z"/>
                  </g>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>