@use 'sass:math';
@use "../../../node_modules/rivet-core/sass/core/variables.scss" as *;

// Quote customizations
.#{$prefix}-c-quote {
  border-left: $spacing-xxs solid $color-crimson-base;
  font-size: $ts-14;
  padding-left: $spacing-md;

  &--script {
    font-family: $font-serif;
    font-size: $ts-26;
    font-style: italic;
  }
}
